html{
	/*background-color: gray;*/
	/*border-style: solid;*/
}
ul{
	list-style: none;
}
.sidebar{
	float: right;
}
.navigator{
	float:left;
	margin-top: 30px;
}
.mov{
	font-size: 20px;
	color: red;
}
li{
	font-family: arial;
}
.lMov{
	font-size: 22px;
	border: 2px;
	border-color: black;
}
.selector{
	text-align: center;
	font-size: 18px;

}
.btn{
	font-size: 14px;
	padding: 10px;
	text-align: center;
	background-color: #0B3861;
	color:#B40431;
	margin-top: 10px;
	border-style:none;
	font-family: 'ka1';
}
.textClass{
	visibility: hidden;
}
.param{
	font-family: 'ka1';
	text-align: center;
}
.frm{
	float:right;
	margin-right:30px;
	font-family: 'ka1';
}
.movs{
	margin:0;
}
.contain{
	width: 900px;
	margin-right:0px;
}
.header{
	font-size: 32px;
	border-style: solid;
	font-family: 'ka1';
	color: #B40431;
	background-color: #0B3861;
}
@font-face {
    font-family: "ka1";
    src: url(../fonts/ka1.ttf) format("truetype");
}