body{
	background-color: gray;
}
ul{
	list-style: none;
}
.sidebar{
	float: right;
}
.navigator{
	float:left;
	margin-top: 30px;
}
.mov{
	font-size: 20px;
	color: red;
}
li{
	font-family: arial;
}
.lMov{
	font-size: 22px;
	border: 2px;
	border-color: black;
}
.selector{
	text-align: center;
	font-size: 18px;
}
.btn{
	font-size: 14px;
	padding: 10px;
	text-align: center;
	background-color: white;
	margin-top: 10px;
	border-style:none;
}
.textClass{
	visibility: hidden;
}
.param{
	font-family: arial black;
}
.frm{
	float:right;
	margin-right:30px;
}
.movs{
	margin-top: 0px;
}
.contain{
	margin:0;
}

