<html ng-app="moviesApp">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <link href="css\style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div ng-controller="MoviesCtrl">
    <nav class="navigator"> 
        <ul class="lMov">
        <li ng-repeat="mov in movie.details">
          <input type="button" value="{{ mov.name }}" ng-click="show($index)" class="btn">
        </li>
        </ul>
    </nav>
    <ul class="contain">
        <li class="param">
        {{greeting}}
       </li>
   </ul>
    </div>
</body>
</html>